#header {
	font-size: 90px;
	text-align: center;
	font-family: "happy_foxcondensed";
}

.tagline {
	font-family: "happy_foxcondensed";
	font-size: 35px;
	margin-left: 2%;
	margin-top: -105px;
	color: #F20564;
	text-align: center;
}

.intro-header {
	width: 400px;
	margin: auto;
}

.background {
	background-color: #BFB89B;
}

.background-1 {
   background: #6369C7;
}

#speech-bubble-intro {
	width: 230px;
	display:block;
	margin: auto;
}

#dock {
  width: -600px;
  height: 3px;
  background: #5F8465;
}

#dock-2 {
  width: 602px;
  height: 30px;
  background-image:url(../img/concrete_seamless.png); background-repeat:repeat;
  margin-left: -518px;
  margin-top: -11px;
  border-radius: 8px;
}

#long-name {
	display: none;
}

#intro-bear {
  width: 100px;
  margin-left: -15px;
}

@font-face {
  font-family: 'happy_foxcondensed';
  src: url('../fonts/HappyFox-Condensed-webfont.eot');
  src: url('../fonts/HappyFox-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HappyFox-Condensed-webfont.woff2') format('woff2'),
       url('../fonts/HappyFox-Condensed-webfont.woff') format('woff'),
       url('../fonts/HappyFox-Condensed-webfont.ttf') format('truetype'),
       url('HappyFox-Condensed-webfont.svg#happy_foxcondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'midnight_junk_yardregular';
    src: url('../fonts/MidnightJunkYard-webfont.eot');
    src: url('../fonts/MidnightJunkYard-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MidnightJunkYard-webfont.woff2') format('woff2'),
         url('../fonts/MidnightJunkYard-webfont.woff') format('woff'),
         url('../fonts/MidnightJunkYard-webfont.ttf') format('truetype'),
         url('../fonts/MidnightJunkYard-webfont.svg#midnight_junk_yardregular') format('svg');
    font-weight: normal;
    font-style: normal;

}